@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#11071F];
} */
/* .nav_item{
 @apply  text-white relative lg:text-[17px] mt-[10px] text-[14px] font-bold after:content-[''] after:absolute after:bottom-0 after:left-0 after:bg-black after:w-0 hover:after:w-full after:h-[2px]
} */


/* font-gupter */

.experience {
  max-width: 800px;
  margin: 40px auto;
  font-family: system-ui, sans-serif;
}

.exp-card {
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
}

.exp-card h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.exp-card h3 span {
  font-weight: 400;
  color: #555;
}

.meta {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.exp-card ul {
  padding-left: 18px;
  margin-bottom: 10px;
}

.exp-card li {
  font-size: 15px;
  margin-bottom: 6px;
  line-height: 1.5;
}

.tech {
  font-size: 14px;
  color: #444;
}
